<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Advertisement</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/static/font-awesome/css/font-awesome.min.css" />

    <script type="text/javascript" src="/static/js/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap.min.js"></script>

    <link rel="stylesheet" type="text/css" href="//cdn.rawgit.com/Eonasdan/bootstrap-datetimepicker/master/build/css/bootstrap-datetimepicker.min.css" />
</head>
<body>

<div class="container">

<div class="page-header">
    <h1>Advertisement Page</h1>
</div>

{#    <div class="col-lg-5 col-md-push-1">#}
{#        <div class="col-md-6">#}
{#            {% if error == "true" %}#}
{#            <div class="alert alert-success">#}
{#                <strong><span class="glyphicon glyphicon-ok"></span> Success! </strong>#}
{#            </div>#}
{#                <div class="alert alert-danger">#}
{#                    <span class="glyphicon glyphicon-remove"></span><strong> Error! Please check all page inputs.</strong>#}
{#                </div>#}
{#            {% endif %}#}
{#        </div>#}
{#    </div>#}

<!-- Registration form - START -->
    <div class="row">
        <form role="form" action="#" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="col-lg-6">
                <div class="well well-sm"><strong><span class="glyphicon glyphicon-asterisk"></span>Required Field</strong></div>
                <div class="form-group">
                    <label for="InputName">Company Name</label>
                    <div class="input-group">
                        <input type="text" class="form-control" name="company" id="InputName" placeholder="Company Name">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="InputCategory">Category</label>
                    <div class="input-group">
                        <input type="text" class="form-control" id="InputCategory" name="category" placeholder="Category">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="image">Image</label>
                    <div class="input-group">
                        <input type="file" name="pic" id="Pic" class="filestyle" data-buttonName="btn-primary">
                        <!--<span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>-->
                    </div>
                </div>

                <div class="form-group">
                    <div class="row">
                        <div class='col-sm-6'>
                            <label for="startDate">Start Date</label>
                            <div class="form-group">
                                <div class='input-group date' id='datetimepicker2'>
                                    <input type='text' name="from_date" class="form-control" data-date-format="YYYY-MM-DD" />
                                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                                </div>
                            </div>
                        </div>
                        <div class='col-sm-6'>
                            <label for="endDate">End Date</label>
                            <div class="form-group">
                                <div class='input-group date' id='datetimepicker3'>
                                    <input type='text' name="to_date" class="form-control" data-date-format="YYYY-MM-DD" />
                                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

{#                <div class="form-group">#}
{#                    <label for="InputFromDate">Input From Date</label>#}
{#                    <div class="input-group">#}
{#                        <input type="text" name="from_date" id="InputFromDate" class="form-control">#}
{#                        <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>#}
{#                    </div>#}
{#                </div>#}
{##}
{#                <div class="form-group">#}
{#                    <label for="InputToDate">Input To Date</label>#}
{#                    <div class="input-group">#}
{#                        <input type="text" name="to_date" id="InputToDate" class="form-control">#}
{#                        <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>#}
{#                    </div>#}
{#                </div>#}

                <div class="form-group">
                    <label for="BeaconUUID">Beacon UUID</label>
                    <label for="uuid">Beacon UUID</label>
                    <div class="input-group">
                        <input type="text" name="beacon" id="BeaconUUID" class="form-control">
                        <!--input type="text" name="beacon" id="InputBeacon" class="form-control"-->
                        <select multiple id="InputBeacon" class="form-control" id="InputBeacon" name="beacon">
                             {% for opt in beacons %}
                                <option value="{{ opt }}">{{ opt }}</option>
                            {% endfor %}
                         </select>
                        <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
                    </div>
                </div>

                <input type="submit" id="submit" value="Submit" class="btn btn-info pull-right"/>
            </div>
            <div class="col-lg-6">
                {% if form.errors %}
                    {% for field in form %}
                        {% for error in field.errors %}
                            <div class="alert alert-danger">
                                {{ field.name }}
                                <strong>{{ error|escape }}</strong>
                            </div>
                        {% endfor %}
                    {% endfor %}
                    {% for error in form.non_field_errors %}
                        <div class="alert alert-error">
                            <strong>{{ error|escape }}</strong>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        </form>
<!--    {% for img in images %}
        {{forloop.counter}}.<a href="{{ img.pic.url }}">{{ img.pic.name }}</a>
        ({{img.upload_date}})<hr />
        {% endfor %}
-->
        <div class="col-lg-5 col-md-push-1">
            <div class="col-md-12">
                <div class="alert alert-success">
                    <strong><span class="glyphicon glyphicon-ok"></span> Success! </strong>
                </div>
                <div class="alert alert-danger">
                    <span class="glyphicon glyphicon-remove"></span><strong> Error! Please check all page inputs.</strong>
                </div>
            </div>
        </div>
    </div>
<!-- Registration form - END -->
<br>
</div>

<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="http://markusslima.github.io/bootstrap-filestyle/js/bootstrap-filestyle.min.js"></script>
<script type="text/javascript" src="/static/js/modernizr.custom.32033.js"></script>

<!--[if lt IE 9]-->
<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<script type="text/javascript" src="/static/js/bootstrap-filestyle.min.js"> </script>

<script src="http://eonasdan.github.io/bootstrap-datetimepicker/scripts/moment.js"></script>
<script type="text/javascript" src="//cdn.rawgit.com/Eonasdan/bootstrap-datetimepicker/master/src/js/bootstrap-datetimepicker.js"></script>

<script type="text/javascript">
    $(document).ready(function(){
        $(":file").filestyle();
        $('#datetimepicker2').datetimepicker();
        $('#datetimepicker3').datetimepicker();

    });
</script>


</body>
</html>