{% extends 'base.html' %}

{% block title %}Payment{% endblock %}

{% load staticfiles %}

{% block header_block %}
    <script src="https://js.braintreegateway.com/v2/braintree.js"></script>

    <form id="form" method="post" action="/purchase/">{% csrf_token %}
        <div id="dropin"></div>
        <input type="submit" value="Pay $10">
    </form>
{% endblock %}

{% block body_block %}
    <script>
        //var braintree = Braintree.create('MIIBCgKCAQEAt9yYDR98HHwVsbjMpfJ58yHoIYlUnUngPNyZYXyU8Xp2PlR0Rmh+YQRG77zxrNFROy5Mr9cznx6oNkN8/91rCXOEtRcm2KbHUpW83NsvonFguko/T4JRqA0T+UHLV7QBdK3YSgR84tF2W5MoJn8VL7e9VLG0A4GbpaQV5vmR7rFoVTwNHOe7KRqYVMRRrLlm5v6XK7TkMf96dGZqNr49BZPs0qX5TbPnEKNm9KXSYJEoVmdGZHVNCSlKjOwKtnOua5ITsyjFTf6XXwrbioaxJ73t2GmYC1HjILAKWI3qlgftAnm1jY96Lpu3jg16glTF4FVopcwvxnBAGcunhuveVwIDAQAB');
        braintree.setup('{{ client_token }}', 'dropin', {
            container: 'dropin'
        });
    </script>
{% endblock %}